<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/AdminLTE.min.css">
	<link rel="stylesheet" type="text/css" href="/css/skins/_all-skins.min.css">
	<script type="application/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="application/javascript" src="/js/bootstrap.min.js"></script>
	<script type="application/javascript" src="/js/adminlte.min.js"></script>
</head>
<body>
<div class="row">
	<div class="col-md-12">
		<form id="myform" role="form">
			<table>
				<tr>
					<td>姓名：</td>
					<td>
						<input type="text" id="username" name="username" class="form-control" style="width: 300px;" placeholder="请输入用户姓名">
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>